
body{background: linear-gradient(-75deg, rgb(228, 156, 67) 30%, rgba(0,0,0,0) 30%), linear-gradient(15deg, rgb(128, 216, 228) 65%, rgb(115, 64, 192) 65%);
    margin: auto;
    overflow: hidden;
    font-family: 'Roboto Slab', serif;}

/* 상단 */


.menu * {
    display:inline;
    height: 120px;
}

.menu li {
    margin: 60px;
}

.menu li a {
    color: gold;}

.menu ul {
    padding-left: 0px;
}

.menu {
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    font-size: 25px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    position: fixed;}

.menu>ul>li>a:hover{color:white;}

/*page2*/

h1 {font-family: 'Pretendard-Thin';
    text-align: center;
    font-style: italic;
    font-size:30px;
    color:darkblue;
}
h2{font-size: 30px;
    text-align:center;
    font-style:italic;
    margin-bottom:50px;
   }

.list{
    text-align: left;
    display: block;
    font-weight: 700;
    font-family: 'Pretendard-Thin';
    line-height: 0.6;
    font-style: normal;
    width:400px;
    height:400px;
    font-size:20px;
    margin-left:80px;
}

.list_img {
    width: 390px;
    height: 390px;
    display: block;
    border-radius: 30%;
    border:5px solid black;
}

#pp{padding-left:40px;}

.about {
    display:inline-flex;
    margin-top: 30px;
}
