body{background: linear-gradient(-75deg, rgb(228, 156, 67) 30%, rgba(0,0,0,0) 30%), linear-gradient(15deg, rgb(128, 216, 228) 65%, rgb(115, 64, 192) 65%);
    margin: auto;
    overflow: hidden;
    font-family: 'Roboto Slab', serif;}

/* 상단 */

.menu * {
    display:inline;
    height: 120px;
}

.menu li {
    margin: 60px;
}

.menu li a {
    color: gold;}

.menu ul {
    padding-left: 0px;
}

.menu {
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    font-size: 25px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    position: fixed;}

.menu>ul>li>a:hover{color:white;}

/*page3*/

h1 {
    text-align: center;
    font-style:italic;
    font-family: 'Roboto Slab', serif;
    color:darkblue;
}

.lists{
    text-align: center;
    font-family: 'Pretendard-Thin';
    display: block;
    text-align: center;
    font-weight: 600;
    font-family: 'Pretendard-Thin';
    font-size: 20px;
    line-height: 1.5;
}

.list_img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 7vh 5vh;
    margin-bottom: 60px;
}

.hobby {
    display:inline-flex;
    margin-top: 30px;
}